
<div class="top-center">
                  <p class="big-text">プレミアリーグを<br>もっと楽しむアプリ</p>
                  <div class="top-btn">
                      <a class="top-btn-1" href="">Twitterで登録する</a>
                      <a class="top-btn-2" href="">メールアドレスで登録する</a>
                  </div>
              </div>
          </div>
      </div>