<div class="top-page">
            <div class="cnt">

                <div class="header-right">
                  <div class="header-right-contents">
                    <a href="">PLGATEってなに？</a>
                    <a href="">新規登録</a>
                    <a href="">ログイン</a>
                  </div>
                </div>
                
                <div class="post">

                  <div class="cnt">
                    <div class="post-top">
                    <h3>選手情報投稿ページ</h3>
                </div>

                <div class="post-main">

                  <div class="post-main-1" >
                    <div class="p-n">
                      <p>選手名</p>
                      <input type="text">
                    </div>

                    <div class="p-s">
                      <p>シーズン</p>
                      <select required>
                        <option value="" hidden>選択して下さい</option>
                        <option value="1">2019-2020</option>
                        <option value="2">2018-2019</option>
                        <option value="3">2017-2018</option>
                        <option value="4">2016-2018</option>
                      </select>
                    </div>
                    
                  <div class="p-t">
                    <p>チーム</p>
                    <select required>
                      <option value="" hidden>選択して下さい</option>
                      <option value="1">MUN</option>
                      <option value="2">MCI</option>
                      <option value="3">CHE</option>
                      <option value="4">LIV</option>
                      <option value="5">TOT</option>
                      <option value="6">ARS</option>
                    </select>
                  </div>
                  
                  </div>
                  
                  <div class="p-in">
                    <p>選手情報</p>
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                  </div>

                  <div class="p-btn">
                    <a href="">送信</a>
                  </div>
                  
                </div>
                

              </div>
          </div>
                  </div>
                </div>