<div class="top-page">
      <div class="cnt">
      

                <div class="header-right">
                  <div class="header-right-contents">
                    <a href="">PLGATEってなに？</a>
                    <a href="">新規登録</a>
                    <a href="">ログイン</a>
                  </div>
                </div>


                <div class="user-wrapper">
                  <div class="cnt">

                    <div class="user-t">
                      <div class="user-top">
                        <img src="img/pl2.jpg" alt="">
                        <h3>れん</h3>
                        <a class="team-mark team-mark-1" href="">TOT</a>
                        <a class="team-mark team-mark-2" href="">MUN</a>
                        <div class="se-in">
                          <p>トッテナムとマンUの試合をゆるく見ています。好きな選手はハリーケインとB・フェルナンデス。Jリーグも好きです。気軽に絡んでください</p>
                        </div>
                      </div>
                    </div>


                    <div class="user-contents">

                      <div class="user-content">
                        <div class="u-info">
                          <img src="img/pl2.jpg" alt="">
                          <p class="user-name">れん</p>
                          <a class="team-mark team-mark-1" href="">TOT</a>
                          <a class="team-mark team-mark-2" href="">MUN</a>
                        </div>
                        <div class="p-info">
                          <p class="player-name">Kevin De Bruyne</p>
                          <p class="top-team">Manchester City</p>
                          <p class="">マンチェスターシティのエース、両足のキック精度が高く、視野も広く、守備意識も高く、運動量もある完全無欠のMF</p>
                        </div>
                      </div>


                      <div class="user-content">
                        <div class="u-info">
                          <img src="img/pl2.jpg" alt="">
                          <p class="user-name">れん</p>
                          <a class="team-mark team-mark-1" href="">TOT</a>
                          <a class="team-mark team-mark-2" href="">MUN</a>
                        </div>
                        <div class="p-info">
                          <p class="player-name">Roberto Firmino</p>
                          <p class="top-team">Liverpool</p>
                          <p class="">リヴァプールのスリリングスリーの中では一番得点数が少ないものの、一番替えのきかない選手。視野の広さやテクニックはもちろん、プレスバックの守備や周りとの連携などこれだけのタスクを全てこなせる選手は世界中にフィルミーのしかいないと思っています</p>
                        </div>
                      </div>


                      <div class="user-content">
                        <div class="u-info">
                          <img src="img/pl2.jpg" alt="">
                          <p class="user-name">れん</p>
                          <a class="team-mark team-mark-1" href="">TOT</a>
                          <a class="team-mark team-mark-2" href="">MUN</a>
                        </div>
                        <div class="p-info">
                          <p class="player-name">Mesut Özil</p>
                          <p class="top-team">Arsenal</p>
                          <p class="">視野が広く左足のキック精度が高くすごくエレガントなプレーをする。守備面での貢献度が低いためよく「エジルは運動量がない」などと言われがちだが攻撃時のポジションの取り直しなどでかなり動いているため意外と走行距離は多い
                          </p>
                        </div>
                      </div>


                    </div>


                  </div>

                  




                </div>