/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */




 a {
    text-decoration: none;
}

.top-page {
    background-image: url('/pl1.png');
    background-size: cover;
    width: 100%;
    height: 1200px;
}

.header-right {
background-color: #ffff;
opacity: 0.6;
height: 50px;
}

.header-right-contents {
display: inline-block;
float: right;
margin-top: 10px;
}

.header-right-contents a {
    color: black;
    padding: 5px 15px;
    font-weight: bold;
}

.top-center {

}

.big-text {
    font-size: 85px !important;
    font-weight: 900 !important;
    text-align: center;
    margin-top: 30px;
}

.top-btn {
    text-align: center;
    width: 100%;
    padding: 40px 0;

}

.top-btn a {
    color: #ffff;
    padding: 20px 50px;
    border-radius: 100px;
}

.top-btn-1 {
   padding: 0 70px;
   background-color: crimson;
   width: 200p;
}

.top-btn-2 {
    background-color: darkblue;
    padding: 0 40px;
}






.new-wrapper {
    text-align: center;
    background-color: #ffff;
    width: 600px;
    margin: auto;
    margin-top: 30px;
}